:root{
    --dark: #141417;
    --dark-x: #414141;
    --light: #ffffff;
}

body{
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.bg-dark{background-color: var(--dark) !important;}
.bg-dark-x{background-color: var(--dark-x);}

.form-control, .btr{
    min-height: 3.125rem;
    line-height: initial;
}

.img-1{
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
}

.img-2{
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
}

.img-3{
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
}